<section class="home-content">
  <h2>Welcome Home</h2>
  <create-gallery></create-gallery>
  <ul>
    <uib-accordion close-others="oneAtATime">
      <gallery-item
        ng-repeat="item in homeCtrl.galleries | orderBy: 'id'"
        gallery="item">
      </gallery-item>
    </uib-accordion>
  </ul>
  <label for="gallery selection">Upload pics here</label>
  <select
    class="pic-selector"
    name="pic selection"
    ng-options="item as item.name for item in homeCtrl.galleries track by item._id"
    ng-model="homeCtrl.currentGallery">
  </select>
  <thumbnail-container
    ng-if="homeCtrl.currentGallery" gallery="homeCtrl.currentGallery"></thumbnail-container>
  </section>
