<section class="login-form">
  <form
    name="loginForm"
    ng-submit="loginCtrl.login()"
    novalidate>
    <div
      ng-class="{
        'error': loginForm.email.$invalid,
        'success': loginForm.email.$valid,
      }">


      <input type="text"
      placeholder="email"
      name="email"
      ng-model="loginCtrl.user.email"
      required>

    </div>

    <div
      ng-class="{
        'error': loginForm.password.$invalid && loginForm.$submitted,
        'success': loginForm.password.$valid,
      }">
      <input
        type="password"
        name="password"
        ng-disabled="loginForm.email.$invalid"
        placeholder="password"
        ng-minlength="3"
        ng-model="loginCtrl.user.password"
        required>
    </div>

    <button type="submit" class="btn-std">Sign In</button>
  </form>
</section>
