<section class="login-form">
  <form
    name="loginForm"
    ng-submit="loginCtrl.login()"
    novalidate>
    <div
      ng-class="{
        'error': loginForm.username.$invalid,
        'success': loginForm.username.$valid,
      }">


      <input type="text"
      placeholder="email"
      name="email"
      ng-model="loginCtrl.user.email"
      required>
      
    </div>

    <div
      ng-class="{
        'error': loginForm.password.$invalid && loginForm.$submitted,
        'success': loginForm.password.$valid,
      }">
      <input
        type="password"
        name="password"
        ng-disabled="loginForm.username.$invalid"
        placeholder="password"
        ng-minlength="3"
        ng-model="loginCtrl.user.password"
        required>
    </div>

    <button type="submit" class="btn-std">Sign In</button>
  </form>
</section>
  <head>
    <meta name="google-signin-client_id" content="607399533565-kpkpl7cgsv8turtvin3gfo3r7p1bpu57.apps.googleusercontent.com">
  </head>
  <body>
    <!--Facebook Login logic from Facebook Developer Page-->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9&appId=451533585208172";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <!--Facebook Login Button -->
    <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"></div>

    <!--Google Login logic and button div from Google Developer Page-->
    <div id="my-signin2"></div>
    <script>
      function onSuccess(googleUser) {
        console.log('Logged in as: ' + googleUser.getBasicProfile().getName());
      }
      function onFailure(error) {
        console.log(error);
      }
      function renderButton() {
        gapi.signin2.render('my-signin2', {
          'scope': 'profile email',
          'width': 240,
          'height': 50,
          'longtitle': true,
          'theme': 'dark',
          'onsuccess': onSuccess,
          'onfailure': onFailure
        });
      }
    </script>
    <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
  </body>
</html>
