<nav class="navbar navbar-default navbar-fixed-top navbar-shrink">
  <div class="container">
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand page-scroll" href="/">OmniSnap VR</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden active">
          <a href="#page-top"></a>
        </li>
        <li class="">
          <a class="page-scroll" href="/">Home</a>
        </li>
        <li class="">
          <a class="page-scroll" href="/#!/login">Login</a>
        </li>
        <li class="">
          <a class="page-scroll" href="/#!/signup">Signup</a>
        </li>
        <li class="">
          <a class="page-scroll" ng-click="navbarCtrl.logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
