/* ------Base Styles-------*/


h1,
h2 {
  font-family: ;
}

h2 {
  font-size: ;
  font-weight: ;
  line-height: ;
  margin: ;
}

h3 {
  font-size: ;
  color: ;
  line-height: ;
}

img {

}

p {
  font-size:
}

ul,
ol {
  margin: ;
}

li {
}

/* Pseudo-classes ------------------ */

a:link {
  color: ;
  text-decoration: none;
}

a:visited {
  color: ;
}

a:hover {
  color: ;
}

a:active {
  color: ;
}
