.landing {
  text-align: center;
  color: #000;
  background-attachment: scroll;
  background-image: url(./../../../assets/images/360us.jpg);
  background-position: center center;
  background-repeat: none;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
