<!-- <section>
  <div class="container" ng-if="landingCtrl.showSignup">
    <div class="intro-text">
      <div class="intro-lead-in">OMNI SNAP VR</div>
      <div class="intro-heading">Immerse yourself in Virtual Reality</div>
      <a href="/#!/login" class="page-scroll btn btn-xl">Login</a>
      <a href="/#!/signup" class="page-scroll btn twitterbtn">Signup</a>
    </div>
  </div>
</section> -->

<section class="landing">
  <div class="join-container"
    ng-if="landingCtrl.showSignup">
    <div class="join-inner">
      <signup></signup>
      <p>already a member?</p>
      <a href="/#!/join#login"
        ng-click="landingCtrl.showSignup=false">
        sign in here!!!!!
      </a>
    </div>
  </div>
  <div class="join-container"
    ng-if="!landingCtrl.showSignup">
    <div class="join-inner">
      <login></login>
      <p>need to sign up?</p>
      <a href="/#!/signup"
        ng-click="landingCtrl.showSignup=true">
        sign up here!
      </a>
    </div>
  </div>
</section>
