// Descriptive  color variables

$black          : #000;
$white          : #fff;



// Functional color variables

$color-prim         :
$color-sec          :

$color-text-base    :
$color-text-light   :
$color-text-dark    :

$color-border-light :
$color-border-dark  :

$color-link-default :
$color-link-visted  :

$color-shadow       :
$color-body         : $white;

// Font stacks


// Border radius
