<section class="signup">
  <h2>{{ signupCtrl.title }}</h2>
  <form class="form-group"
    ng-submit="signupCtrl.signup(signupCtrl.user)"
    novalidate>

    <input class="form-control"
      type="text"
      placeholder="name"
      ng-minlength="4"
      ng-model="signupCtrl.user.username"
      required>

    <input class="form-control"
      type="text"
      placeholder="email"
      ng-model="signupCtrl.user.email">

    <input class="form-control"
      type="password"
      placeholder="password"
      ng-minlength="8"
      ng-model="signupCtrl.user.password"
      required>

    <input class="btn-primary" type="submit" value="sign up">
  </form>
</section>
