<a-scene class="vr-feed"
  vr-mode-ui
  keyboard-shortcuts>

  <a-assets>
    <photo ng-repeat="pic in vrFeedCtrl.user.photos" photo="pic"></photo>
  </a-assets>

  <a-sky ng-if="!vrFeedCtrl.photoClicked" color="#0FF" rotation="0 -130 0"></a-sky>

  <a-sky class="vr-image not-clickable"
    ng-if="vrFeedCtrl.photoClicked"
    ng-src="{{ vrFeedCtrl.clickedPic.ID }}">
  </a-sky>

  <a-plane class="clickable"
    color="#0FF"
    rotation="-90 0 0"
    ng-if="vrFeedCtrl.photoClicked"
    ng-click="vrFeedCtrl.photoClicked=!vrFeedCtrl.photoClicked">
    <a-text value="go back"></a-text>
  </a-plane>

  <a-entity ng-if="!vrFeedCtrl.photoClicked">
    <a-cylinder color="blue" radius="10" height="5"
      position="0 3.9 0" side="back" open-ended="true">
      <a-curvedimage class="clickable" ng-src="{{ item.ID }}"
        ng-repeat="item in vrFeedCtrl.user.photos"
        ng-click="vrFeedCtrl.photoWasClicked(item)"
        position="{{ item.xValue }} 0 0" radius="8" rotation="0 180 0"
        theta-length="60" height="3.9" scale="1 1 1">
        <a-event name="click" color="#FFC65D"></a-event>
        <a-event name="mouseenter" color="#FFC65D"></a-event>
        <a-event name="mouseleave" color="#F00"></a-event>
      </a-curvedimage>
    </a-cylinder>
  </a-entity>

  <a-entity
    camera="userHeight: 3.9"
    look-controls
    wasd-controls>
    <a-entity
      cursor="fuse: true; fuseTimeout: 3000"
      position="0 0 -5"
      geometry="primitive: ring; radiusInner: 0.2; radiusOuter: 0.3"
      material="color: green; shader: flat; side: double"
      raycaster="objects: .clickable; interval: 1000">
      <a-animation begin="click" easing="ease-in" attribute="scale" fill="backwards" from="0.1 0.1 0.1" to="1 1 1"></a-animation>
      <a-animation begin="cursor-fusing" easing="ease-in" attribute="scale" fill="forwards" from="1 1 1" to="0.1 0.1 0.1"></a-animation>
    </a-entity>
  </a-entity>
</a-scene>
