<section class="signup">
  <div class="col-sm-8 col-sm-offset-2">
  <form class="signup-form"
    ng-submit="signupCtrl.signup(signupCtrl.user)"
    novalidate>

    <input class="form-control"
      type="text"
      placeholder="name"
      ng-minlength="4"
      ng-model="signupCtrl.user.username"
      required>

    <input class="form-control"
      type="text"
      placeholder="email"
      ng-model="signupCtrl.user.email">

    <input class="form-control"
      type="text"
      placeholder="password"
      ng-minlength="3"
      ng-model="signupCtrl.user.password"
      required>

    <button type="submit" class="btn btn-primary" value="sign up">Sign up</button>
  </div>
  </form>
</section>
